body {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




.Big-text {
    color: white;
    position: absolute;
    top: 25%;
    font-size: 1000%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Short-text {
    color: white;
    position: absolute;
    top: 45%;
    font-size: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}